body {
    font-family: sans-serif;
    background: #f7fbff;
    color: #333;
    padding: 20px;
}

h1 {color: #4da6ff;
}

#search {
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
}

.tag {
    display: inline-block;
    background: #cce6ff;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 10px;
}

hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #cce6ff;
}

.card {
    background: white;
    border: 1px solid #cce6ff;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
}

a {
    color: #4da6ff;
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin-top: 20px;
}

.calendar-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #4da6ff;
}

.day {
    background: white;
    border: 1px solid #cce6ff;
    min-height: 80px;
    padding: 5px;
    border-radius: 8px;
    font-size: 12px;
}

.day strong{
    display: block;
}

.event {
    background: #4da6ff;
    color: white;
    padding: 2px;
    margin-top: 3px;
    border-radius: 5px;
    font-size: 11px;
}

.weekday {
    text-align: center;
    font-weight: bold;
    color: #4da6ff;
}

.link-slider {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 10px 0;
}

.link-card img{
    width: 30%;
    border-radius: 8px;
}

.today {
    border: 2px solid #4da6ff;
    background: #e6f3ff;
}

.day.selected {
    background: #4da6ff;
    color: white;
}